<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align:center;">Add new song </h1>
    <div style="width:40%; margin:30px auto;">
      <form action="/songreview/songs/<%= song._id %>?_method=PUT" method="POST">
        <input class="form-control" type="text" name="song[name]" value="<%= song.name %>" >
        <input class="form-control" type="text" name="song[artist]" value="<%= song.artist %>">
        <input class="form-control" type="text" name="song[image]" value="<%= song.image %>">
        <input class="form-control" type="text" name="song[description]" value="<%= song.description %>">
        <button class="btn btn-primary btn-block btn-lg">Submit</button>
      </form>
      <a href="/songreview/songs"> Back to Songlist </a>
    </div><!-- closes text align center div-->
  </div><!--closes row-->
</div>

<% include ../partials/footer %>
