<% include ../partials/header %>

<h1><%=song.name%></h1>

<img src="<%= song.image %>">

<p><%=song.description%></p>

<p>
  <a class="btn btn-success" href="<%= song._id %>/comments/new">Add a comment</a>
</p>

<% song.comments.forEach((comment) => { %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }) %>

<% include ../partials/footer %>
